#!/usr/bin/env bash
# Source this file to export environment variables into your shell session:
# Usage: source env.sh

export MONGO_URI="mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER>.mongodb.net/?retryWrites=true&w=majority&appName=<APP_NAME>"
export MONGO_DB="score_db"
export MONGO_COLLECTION="requirements"
export VOYAGE_API_KEY="<YOUR_VOYAGE_API_KEY>"
export VOYAGE_MODEL="voyage-3.5"
export VECTOR_INDEX_NAME="requirements_vector_index"
